<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--        id属性:名字-->
<!--        class属性:配置全限定名-->
<!--        <bean id="person" class="org.example.Person"></bean>-->

<!--        name:别名-->
<!--        <bean id="person" name="p,p1" class="org.example.Person"></bean>-->

        <!--注入  property 标签-->
        <bean id="person" class="org.example.Person">
                <property name="id">
                        <value>10</value>
                </property>
                <property name="name">
                        <value>李四</value>
                </property>
        </bean>

</beans>